<div class="title-block">
    <h1 class="title">Suplidores</h1>
</div>
<section class="row">
  <div class="row">
    <button (click)="botones();" class="btn btn-outline-primary" type="button" name="button">
      {{textoBoton}}
    </button>

    <form *ngIf="creando || editando" #formSuplidores="ngForm" (ngSubmit)="onSubmit();">
      <div class="row row-flex row-flex-wrap">
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':name.value=='' && name.touched}">
          <label class="form-control-feedback" for="name">Nombre</label>
          <input type="text"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="supplier.name"
          required
          placeholder="Suplidor"
          name="name">
          <div class="form-control-feedback" *ngIf="name.touched && name.value==''">
            El nombre del suplidor es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label for="phone">Teléfono</label>
          <input type="text"
          class="form-control"
          #phone="ngModel"
          [(ngModel)]="supplier.phone"
          placeholder="Nombre"
          name="phone">
        </div>
      </div>
      <button [disabled]="!validateModel(supplier)" class="btn btn-success" type="submit">{{creando? "Guardar":"Guardar cambios"}}</button>
    </form>
    <hr>

    <div class="text-center" *ngIf="loading">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Cargando...</span>
    </div>

    <div class="table-responsive">
      <table id="tableCategorias" width="100%" class="table">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers">
            <td class="text-center">{{supplier.id}}</td>
            <td class="text-center">{{supplier.name}}</td>
            <td class="text-center">{{supplier.phone}}</td>
            <td class="text-center">
              <button (click)="editarSuplidor(supplier)" type="button" class="btn btn-md btn-outline-warning">Modificar</button>
              <button (click)="confirmarBorrarSuplidor(supplier)" type="button" class="btn btn-md btn-outline-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
