<div class="title-block">
    <h1 class="title">Categorías</h1>
</div>

<section class="section">
  <div class="row">
    <button (click)="botones();" class="btn btn-outline-primary" type="button" name="button">
      {{textoBoton}}
    </button>

    <form *ngIf="creando || editando" #formCategoria="ngForm" (ngSubmit)="onSubmit();">
      <div class="row row-flex row-flex-wrap">
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':name.value=='' && name.touched}">
          <label class="form-control-feedback" for="name">Categoría</label>
          <input type="text"
          class="form-control"
          #name="ngModel"
          [(ngModel)]="category.name"
          required
          placeholder="Categoría"
          name="name">
          <div class="form-control-feedback" *ngIf="name.touched && name.value==''">
            El nombre de la categoría es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label for="description">Descripción</label>
          <input type="text"
          class="form-control"
          #description="ngModel"
          [(ngModel)]="category.description"
          placeholder="Nombre"
          name="description">
        </div>
      </div>
      <button [disabled]="!validateModel(category)" class="btn btn-success" type="submit">{{creando? "Guardar":"Guardar cambios"}}</button>
    </form>
    <hr>
    <div class="text-center" *ngIf="loading">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Cargando...</span>
    </div>
    <div class="table-responsive">
      <table id="tableCategorias" width="100%" class="table">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Categoría</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td class="text-center">{{category.id}}</td>
            <td class="text-center">{{category.name}}</td>
            <td class="text-center">{{category.description}}</td>
            <td class="text-center">
              <button (click)="editarCategoria(category)" type="button" class="btn btn-md btn-outline-warning">Modificar</button>
              <button (click)="confirmarBorrarCategoria(category)" type="button" class="btn btn-md btn-outline-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
