<div class="title-block">
    <h1 class="title">Productos</h1>
</div>

<section class="section">
  <div class="row">
    <button (click)="botones();" class="btn btn-outline-primary" type="button" name="button">
      {{textoBoton}}
    </button>
    <form *ngIf="creando || editando" #formProduct="ngForm" (ngSubmit)="onSubmit();">
      <div class="row row-flex row-flex-wrap">
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':name.value=='' && name.touched}">
          <label class="form-control-feedback" for="name">Nombre</label>
          <input type="text" class="form-control"
          #name="ngModel" [(ngModel)]="product.name"
          required placeholder="Nombre" name="name"/>
          <div class="form-control-feedback" *ngIf="name.touched && name.value==''">
            El nombre del producto es obligatorio
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="form-control-feedback" for="code">Código</label>
          <input type="text" class="form-control" #code="ngModel"  [(ngModel)]="product.code" placeholder="Código"  name="code"/>
        </div>
        <div class="form-group col-md-6 col-xs-12">
          <label class="form-control-feedback" for="description">Descripción</label>
          <input type="text" class="form-control" #description="ngModel" [(ngModel)]="product.description" placeholder="Descripción" name="description"/>
        </div>

        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':category.value=='0' && category.touched}">
          <label class="form-control-feedback" for="category_id">Categoría</label>
          <select class="form-control" #category="ngModel" [(ngModel)]="product.category_id" required
          name="category_id">
            <option value="0">Seleccione una categoría</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
          <div class="form-control-feedback" *ngIf="category.touched && category.value=='0'">
          La categoría del producto es obligatoria
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':(cost_price.value=='' || cost_price.value<=0) && cost_price.touched}">
          <label class="form-control-feedback" for="cost_price">Precio-Costo</label>
          <input type="number" class="form-control" min="1"
          #cost_price="ngModel" [(ngModel)]="product.cost_price"
          required placeholder="Precio-Costo" name="cost_price">
          <div class="form-control-feedback" *ngIf="cost_price.touched && cost_price.value==null">
            El Precio-Costo del producto es obligatorio
          </div>
          <div class="form-control-feedback" *ngIf="cost_price.touched && cost_price.value<=0">
            El Precio-Costo del producto debe ser superior a 0
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':(sale_price.value=='' || sale_price.value<=0) && sale_price.touched}">
          <label class="form-control-feedback" for="sale_price">Precio-Venta</label>
          <input type="number" class="form-control" min="1"
          #sale_price="ngModel" [(ngModel)]="product.sale_price"
          required placeholder="Precio-Costo" name="sale_price">
          <div class="form-control-feedback" *ngIf="sale_price.touched && sale_price.value==null">
            El Precio-Venta del producto es obligatorio
          </div>
          <div class="form-control-feedback" *ngIf="sale_price.touched && sale_price.value<=0">
            El Precio-Venta del producto debe ser superior a 0
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-danger':supplier.value=='0' && supplier.touched}">
          <label class="form-control-feedback" for="supplier_id">Suplidor</label>
          <select class="form-control" #supplier="ngModel" [(ngModel)]="product.supplier_id"
          name="supplier_id">
            <option value="0">Seleccione un suplidor</option>
            <option *ngFor="let supplier of suppliers" value="{{supplier.id}}">{{supplier.name}}</option>
          </select>
          <div class="form-control-feedback" *ngIf="supplier.touched && supplier.value=='0'">
          El suplidor del producto es obligatorio
          </div>
        </div>
      </div>
      <button [disabled]="!validateModel(product)" class="btn btn-success" type="submit">{{creando? "Guardar":"Guardar cambios"}}</button>
    </form>
    <hr>
    <div class="text-center" *ngIf="loading">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Cargando...</span>
    </div>
    <div class="table-responsive">
      <table id="tableCategorias" width="100%" class="table">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Código</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Categoría</th>
            <th class="text-center">Suplidor</th>
            <th class="text-center">Precio-Costo</th>
            <th class="text-center">Precio-Venta</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td class="text-center">{{product.id}}</td>
            <td class="text-center">{{product.name}}</td>
            <td class="text-center">{{product.code}}</td>
            <td class="text-center">{{product.description}}</td>
            <td class="text-center">{{product.category_name}}</td>
            <td class="text-center">{{product.supplier_name}}</td>
            <td class="text-center">RD${{product.cost_price | number:'1.0-3'}}</td>
            <td class="text-center">RD${{product.sale_price | number:'1.0-3'}}</td>
            <td class="text-center">
              <button (click)="editarProducto(product)" type="button" class="btn btn-md btn-outline-warning">Modificar</button>
              <button (click)="confirmarBorrarProducto(product)" type="button" class="btn btn-md btn-outline-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
