<div class="title-block">
    <h1 class="title" *ngIf="entry.entry_type=='entry'" >Ingreso de Productos</h1>
    <h1 class="title" *ngIf="entry.entry_type=='return'" >Devolución de Productos</h1>
</div>

<section class="section">
  <div class="row">
    <button *ngIf="!creando && !mostrando" (click)="nuevo()" type="button" class="btn btn-primary">Nuevo</button>
    <div *ngIf="creando || mostrando" class="col-md-12">
      <div class="col-sm-14" style="display: block;">
        <form name="formEntry" #formEntry="ngForm" (ngSubmit)="onSubmit();">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-0 col-lg-12 col-lg-offset-0 main">
                    <div class="row">
                      <div class="col-lg-9 left">
                        <label for="supplier_name">Suplidor:</label>
                        <div class="form-group has-success">
                          <div class="input-group">
                            <input type="hidden" name="supplier_id" #supplier_id="ngModel" [(ngModel)]="entry.supplier_id">
                            <input name="supplier_name" #supplier_name="ngModel" [(ngModel)]="entry.supplier_name"
                            type="text" class="form-control"
                            required placeholder="Seleccione un Suplidor"
                            autofocus="" disabled="">
                            <span class="input-group-btn">
                                  <button [disabled]="mostrando==true && !creando" data-toggle="modal" data-target="#modalSuplidores"
                                  type="button" class="btn btn-success" ><i class="fa fa-search"></i>
                                    Buscar
                                  </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 left">
                        <label for="status">Estado:</label>
                        <div class="form-group has-success">
                          <div class="input-group">
                            <input name="status" #status="ngModel" [(ngModel)]="entry.status"
                            type="text" class="form-control"
                            required placeholder="Estado"
                            autofocus="" disabled>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 left">
                          <label for="entry_type">Tipo Ingreso:</label>
                            <div class="form-group  has-success">
                                <select [disabled]="mostrando==true && !creando" name="entry_type" #entry_type="ngModel" [(ngModel)]="entry.entry_type"
                                class="form-control" required>
                                  <option value="entry">Ingreso</option>
                                  <option value="return">Devolución</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 left">
                            <label for="inputPlaca">Descripción:</label>
                            <div class="form-group has-success">
                                <input [disabled]="mostrando==true && !creando" name="description" #description="ngModel" [(ngModel)]="entry.description"
                                type="text" class="form-control" style="text-align:center;" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 left">
                          <label for="inputPlaca">Comentario:</label>
                          <div class="form-group has-success">
                            <textarea [disabled]="mostrando==true && !creando" class="form-control" name="comment" #comment="ngModel" [(ngModel)]="entry.comment" rows="3" cols="30"></textarea>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 left">
                            <div class="form-group">
                                <button [disabled]="mostrando==true && !creando" data-toggle="modal" data-target="#modalProductos"
                                type="button" class="btn btn-info"><i class="fa fa-search"></i>
                                     Buscar Productos
                                </button>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="col-sm-9 col-lg-12 main">
                <p *ngIf="!entry.entry_details || entry.entry_details.length==0" class="text-danger">Debe seleccionar productos</p>
                <div class="table-responsive">
                  <table cellpadding="0" class="table table-striped table-bordered" cellspacing="0" border="1">
                    <thead>
                      <tr>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Código</th>
                        <th *ngIf="entry.entry_type=='entry'" class="text-center">
                          Cantidad Ingreso
                        </th>
                        <th *ngIf="entry.entry_type=='return'" class="text-center">
                          Cantidad Salida
                        </th>
                        <th class="text-center">Precio-Costo</th>
                        <th class="text-center">Precio-Venta</th>
                        <th class="text-center">Importe</th>
                        <th class="text-center">Opción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entry_detail of entry.entry_details; let i=index">
                        <td class="text-center">{{entry_detail.product_name}}</td>
                        <td class="text-center">{{entry_detail.product_code}}</td>
                        <td class="text-center" >
                          <input *ngIf="mostrando==false && creando==true" type="number" class="form-control" min="1"
                          name="quantity" #quantity="ngModel" [(ngModel)]="entry.entry_details[i].quantity">
                          <p *ngIf="mostrando==true && creando==false">{{entry_detail.quantity | number:'1.0-3'}}</p>
                        </td>
                        <td class="text-center">RD${{entry_detail.cost_price | number:'1.0-3'}}</td>
                        <td class="text-center">RD${{entry_detail.sale_price | number:'1.0-3'}}</td>
                        <td class="text-center">RD${{(entry_detail.cost_price * entry_detail.quantity) | number:'1.0-3'}}</td>
                        <td class="text-center">
                          <button [disabled]="mostrando==true && !creando" (click)="removeProduct(i)" type="button" data-toggle="tooltip" title="Quitar producto" class="btn btn-danger"
                          data-original-title="Quitar producto">
                            <i class="fa fa-remove"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-lg-8 col-lg-offset-2 main">
                  <div class="row">
                    <div class="col-lg-4 left has-error">
                        <div class="input-group">
                            <div class="input-group-addon">M/L Total:</div>
                            <input value="RD${{TotalizarDetails()| number:'1.0-3'}}"
                            type="text" class="form-control" placeholder="Total" disabled="">
                        </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12 left">
                    <button *ngIf="creando && !mostrando" [disabled]="!validate(entry)" class="btn btn-success" type="submit" ><i class="fa fa-floppy-o"></i> Registrar Ingreso</button>
                    <button type="button" (click)="cancelar();" class="btn btn-primary"><i class="fa fa-remove"></i> Cancelar</button>
                    <hr>
                    <span class="lead text-primary"></span>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center" *ngIf="loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Cargando...</span>
      </div>
      <div class="col-md-12" *ngIf="!creando && !mostrando">
        <h2>Listado de Ingresos</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Suplidor</th>
                <th class="text-center">Tipo-Ingreso</th>
                <th class="text-center">Descripción</th>
                <th class="text-center">Comentario</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Total</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of entries">
                <td class="text-center">{{entry.id}}</td>
                <td class="text-center">{{entry.supplier_name}}</td>
                <td class="text-center">
                  <button *ngIf="entry.entry_type=='entry'" class="btn btn-info btn-sm">ENTRADA</button>
                  <button *ngIf="entry.entry_type=='return'" class="btn btn-warning btn-sm">DEVOLUCIÓN</button>
                </td>
                <td class="text-center">{{entry.description}}</td>
                <td class="text-center">{{entry.comment}}</td>
                <td class="text-center">{{entry.datetime}}</td>
                <td class="text-center">RD${{entry.total | number:'1.0-3'}}</td>
                <td class="text-center">
                  <button *ngIf="entry.status=='EMITIDO'" class="btn btn-success btn-sm">{{entry.status}}</button>
                  <button *ngIf="entry.status=='ANULADO'" class="btn btn-danger btn-sm">{{entry.status}}</button>
                </td>
                <td class="text-center">
                  <button (click)="verIngreso(entry)" class="btn btn-success" data-toggle="tooltip" title="" data-original-title="Ver Detalle">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button *ngIf="entry.status=='EMITIDO'" (click)="cancelEntryConfirm(entry)" class="btn btn-danger" data-toggle="tooltip" title="" data-original-title="Anular">
                    <i class="fa fa-times-circle"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</section>
<!--MODALS-->
<div class="modal fade" id="modalSuplidores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Suplidores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Suplidor</th>
                <th class="text-center">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supplier of suppliers">
                <td class="text-center">{{supplier.name}}</td>
                <td class="text-center">
                  <button data-dismiss="modal" (click)="entry.supplier_id=supplier.id;entry.supplier_name=supplier.name;" class="btn btn-success"
                  data-toggle="tooltip" title="Seleccionar" data-original-title="Seleccionar">
                    <i class="fa fa-check"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Código</th>
                <th class="text-center">Categoría</th>
                <th class="text-center">Suplidor</th>
                <th class="text-center">Precio-Costo</th>
                <th class="text-center">Precio-Venta</th>
                <th class="text-center">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.code}}</td>
                <td class="text-center">{{product.category_name}}</td>
                <td class="text-center">{{product.supplier_name}}</td>
                <td class="text-center">{{product.cost_price}}</td>
                <td class="text-center">{{product.sale_price}}</td>
                <td class="text-center">
                  <button
                  (click)="addProductToList(product)" class="btn btn-warning"
                  data-toggle="tooltip" title="Agregar" data-original-title="Agregar">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
