<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
      <button class="collapse-btn" id="sidebar-collapse-btn">
    <i class="fa fa-bars"></i>
  </button>
  </div>
  <div class="header-block header-block-search hidden-sm-down">
      <form role="search">
          <div class="input-container"> <i class="fa fa-search"></i> <input type="search" placeholder="Search">
              <div class="underline"></div>
          </div>
      </form>
  </div>
  <div class="header-block header-block-buttons">
      <a href="https://github.com/modularcode/modular-admin-html" class="btn btn-sm header-btn"> <i class="fa fa-github-alt"></i> <span>View on GitHub</span> </a>
      <a href="https://github.com/modularcode/modular-admin-html/stargazers" class="btn btn-sm header-btn"> <i class="fa fa-star"></i> <span>Star Us</span> </a>
      <a href="https://github.com/modularcode/modular-admin-html/releases/download/v1.0.1/modular-admin-html-1.0.1.zip" class="btn btn-sm header-btn"> <i class="fa fa-cloud-download"></i> <span>Download .zip</span> </a>
  </div>
  <div class="header-block header-block-nav">
      <ul class="nav-profile">
          <li class="notifications new">
              <a href="" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <sup>
                      <span class="counter">1</span>
            </sup>
              </a>
              <div class="dropdown-menu notifications-dropdown-menu">
                  <ul class="notifications-container">
                      <li>
                          <a href="" class="notification-item">
                              <div class="img-col">
                                  <div class="img" style="background-image: url('assets/faces/3.jpg')"></div>
                              </div>
                              <div class="body-col">
                                  <p> <span class="accent">Zack Alien</span> pushed new commit: <span class="accent">Fix page load performance issue</span>. </p>
                              </div>
                          </a>
                      </li>
                  </ul>
                  <footer>
                      <ul>
                          <li>
                              <a href="">Ver todas</a>
                          </li>
                      </ul>
                  </footer>
              </div>
          </li>
          <li class="profile dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="img" style="background-image: url('https://www.diariolibre.com/documents/10157/0/600x400/0c15/600d369/none/10904/XTCQ/image_content_7833002_20170204145840.jpg')">
                  </div>
                  <span class="name">Edward Rosado</span>
              </a>
              <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                  <a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> Perfil </a>
                  <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i> Configuración </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="login.html"> <i class="fa fa-power-off icon"></i> Cerrar Sesión </a>
              </div>
          </li>
      </ul>
  </div>
</header>
<aside class="sidebar">
  <div class="sidebar-container">
      <div class="sidebar-header">
          <div class="brand">
              <div class="logo">
                  <span class="l l1"></span>
                  <span class="l l2"></span>
                  <span class="l l3"></span>
                  <span class="l l4"></span>
                  <span class="l l5"></span>
              </div>
              Solutions | PRL
          </div>
      </div>
      <nav class="menu">
          <ul class="nav metismenu" id="sidebar-menu">
              <li routerLinkActive="active">
                  <a [routerLink]="['home']">
                      <i class="fa fa-home"></i>
                      Dashboard
                  </a>
              </li>
              <li routerLinkActive="active open">
                  <a href="">
                      <i class="fa fa-table"></i>
                      Ingresos
                      <i class="fa arrow"></i>
                  </a>
                  <ul>
                      <li routerLinkActive="active">
                          <a [routerLink]="['supplier']">Suplidores</a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['category']">Categorías de Productos</a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['product']">Productos</a>
                      </li>
                      <li routerLinkActive="active">
                          <a [routerLink]="['entry']">Ingresos Productos</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
  <footer class="sidebar-footer">
      <ul class="nav metismenu" id="customize-menu">
          <li>
              <ul>
                  <li class="customize">
                      <div class="customize-item">
                          <div class="row customize-header">
                              <div class="col-xs-4"> </div>
                              <div class="col-xs-4"> <label class="title">fixed</label> </div>
                              <div class="col-xs-4"> <label class="title">static</label> </div>
                          </div>
                          <div class="row hidden-md-down">
                              <div class="col-xs-4"> <label class="title">Barra Lateral:</label> </div>
                              <div class="col-xs-4">
                                  <label>
			                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
			                        <span></span>
			                    </label>
                              </div>
                              <div class="col-xs-4">
                                  <label>
			                        <input class="radio" type="radio" name="sidebarPosition" value="">
			                        <span></span>
	                        </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-4"> <label class="title">Cabecera:</label> </div>
                              <div class="col-xs-4">
                                  <label>
                              <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                              <span></span>
                          </label>
                              </div>
                              <div class="col-xs-4">
                                  <label>
                              <input class="radio" type="radio" name="headerPosition" value="">
                              <span></span>
                          </label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xs-4"> <label class="title">Pie de página:</label> </div>
                              <div class="col-xs-4">
                                  <label>
	                            <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
	                            <span></span>
                          </label>
                              </div>
                              <div class="col-xs-4">
                                  <label>
			                        <input class="radio" type="radio" name="footerPosition" value="">
			                        <span></span>
                          </label>
                              </div>
                          </div>
                      </div>
                      <div class="customize-item">
                          <ul class="customize-colors">
                              <li> <span class="color-item color-red" data-theme="red"></span> </li>
                              <li> <span class="color-item color-orange" data-theme="orange"></span> </li>
                              <li> <span class="color-item color-green active" data-theme=""></span> </li>
                              <li> <span class="color-item color-seagreen" data-theme="seagreen"></span> </li>
                              <li> <span class="color-item color-blue" data-theme="blue"></span> </li>
                              <li> <span class="color-item color-purple" data-theme="purple"></span> </li>
                          </ul>
                      </div>
                  </li>
              </ul>
              <a href=""> <i class="fa fa-cog"></i> Configurar Estilo </a>
          </li>
      </ul>
  </footer>
</aside>
